@using MembersUmbraco.Controllers
@model MembersUmbraco.Models.ForgotPasswordModel

@*<p><b>Submitted values:</b><br /><br />*@

 
 @* Values from the Controller loading this Form before Submit*@
 @*<p>@TempData["MemberId"]</p>*@
 @*<p>@TempData["Token"]</p>*@
 @*<p>@TempData["EncodedToken"]</p>*@
  
  @* Values after Submitting the Form *@
  @*<p>@TempData["MemberId"]</p>*@
  @*<p>@TempData["Token"]</p>*@
  @*<p>@TempData["NewPassword"]</p>*@
  @*<p>@TempData["ConfirmPassword"]</p>*@


<div class="container shadow p-5">
    
   @if( TempData["ResetSent"] != null ){
    <br /><h3>Sending an Email with a 1 hour valid Reset Password link to: </h3>
   }

<br />

@* The value set in ForgotPasswordFormController.cs*@
<p>@TempData["Email"]</p>

@* The value set in ResetPasswordFormController.cs*@
<p>@TempData["ResetStatus"]</p>

@* The value set in ResetPasswordController.cs*@
@*<p>@TempData["ResetPasswordTokenMatch"]</p>*@ 

    Hello from ForgotPasswordForm.cs<br /><br />
    
            
@using (Html.BeginUmbracoForm<ForgotPasswordFormController>(nameof(ForgotPasswordFormController.Submit)))
    {
 
        <!--<div asp-validation-summary="All"></div>-->
  <div>
        <label asp-for="Email"></label><br />
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="alert-danger"></span>
   </div>
    
   <br />
    <input type="submit" name="Submit" value="Submit" />

    }

</div>

@*//Script for front end validations acording the ResetPasswordModel.cs*@

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}