@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
	Layout = "MasterEmp.cshtml";
}

@using MembersUmbraco.Controllers
@using MembersUmbraco.Models

@using Umbraco.Cms.Web.Common.UmbracoContext


@* An alternative could be "@model ResetPasswordModel" but then the Umbraco Helper dont work *@

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ResetPasswordModel>


@*<p><b>Submitted values:</b>*@

@*@TempData["Email"] @TempData["NewPassword"]  @TempData["ConfirmPassword"]</p>*@

  <!-- Jumbotron, w title -->
 <div class="jumbotron text-center jumbotron-fluid">
            <div class="container">
                             
              @{
                @* The pageTitle will be displayed by the Current Page / Content Node *@
                var currentPage = Umbraco.AssignedContentItem;
                
                if( currentPage != null) {
                    <h1 class="display-1">@currentPage.Value("pageTitle")</h1>
                  }
               else { 
                     <h1 class="display-1">Reset Password</h1> 
                     }
              
              } 
            
            </div>
  </div>
  

<div class="container shadow p-5">

    Hello from ResetPasswordForm.cs<br /><br />
    
   @*<p>@TempData["ResetPasswordId"]</p>*@
   @*<p>@TempData["ResetPasswordToken"]</p>*@
   @*<p>@TempData["ResetPasswordTokenMatch"]</p>*@        

    @*<h1 class="display-1">@currentPage.Value("umbracoNaviHide")</h1>*@
     @if( UmbracoContext.InPreviewMode ){
         <p><i>Preview Mode</i></p> 
     }

  

@using (Html.BeginUmbracoForm<ResetPasswordFormController>(nameof(ResetPasswordFormController.Submit)))
    {
 
     <!--<div asp-validation-summary="All" class="text-danger"></div>-->
     <div class="form-row">
          <div class="form-group col-md-6">
            <label asp-for="MemberId"></label><br />
            <input class="form-control" readonly asp-for="MemberId" value="@TempData["ResetPasswordId"]" placeholder="Member Id" />
         </div>

         <div class="form-group col-md-6">
            <label asp-for="Token"></label><br />
            <input class="form-control" readonly asp-for="Token" value="@TempData["ResetPasswordToken"]" type="hidden" placeholder="Token" />
        </div>
     </div>
    
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="NewPassword"></label><br />
            <input class="form-control" asp-for="NewPassword" type="password"/>
            <span asp-validation-for="NewPassword" class="alert-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="ConfirmPassword"></label><br />
            <input class="form-control" asp-for="ConfirmPassword" type="password" />
            <span asp-validation-for="ConfirmPassword" class="alert-danger"></span>
        </div>
    </div>


   <br />
    <input type="submit" name="Submit" value="Submit" />

    }

</div>


@*//Script for front end validations acording the ResetPasswordModel.cs*@

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
